/yarn-error.log
/node_modules
/npm-debug.log
/.DS_Store


.idea
.vscode
*.css.flow
*.scss.flow
.nyc_output
coverage
.DS_Store

dist/*
!dist/static/
!dist/favicon.ico

cookie.txt

/.yarn

# Local Netlify folder
.netlify

# Webpack stats
stats.json

